/*-- inspired from https://r4ds.hadley.nz/ and multi-state companion --*/

/*-- scss:defaults --*/

$primary: #6C6C6C !default;
$font-size-root: 18px !default;

/*-- scss:rules --*/

/* no border around 'Quarto' link in lower right corner */
img.quarto-cover-image {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

/* font color for the sidebar */
.sidebar-title {
  color: #6C6C6C;
}

/* Make current selcted (active) chapter bold */ 
div.sidebar-item-container .active {
  font-weight: bold;
}

/* Make current selceted (active) section bold */ 
.sidebar nav[role=doc-toc] ul>li>a.active, .sidebar nav[role=doc-toc] ul>li>ul>li>a.active{
  font-weight: bold;
}

/* Heading ---------------------------------------------- */
/* Heading styles follows quarto book 'R for Data Science' */
#title-block-header.quarto-title-block.default .quarto-title h1.title {
  margin-bottom: 0.5rem;
}

h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
}
h3 { margin-top: 1.5em; font-size: 1.2rem; font-weight: 500; }
h4 { margin-top: 1.5em; font-size: 1.1rem; }
h5 { margin-top: 1.5em; font-size: 1rem; }

/* link color for sections within quarto */
.quarto-section-identifier {
  color: #6C6C6C;
  font-weight: normal;
}

/* Code ------------------------------------------------ */

/* color for code font (e.g., variable names in the data sets) */
code {
  color: #373a3c;
}

